body {
    margin: 0%;
    padding: 0%;
    height: 97vh;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(195, 227, 255);
}
h1 {
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
    align-self: center;
    text-shadow: 8px 8px 5px rgba(7, 24, 110, 0.229);

}
#card {
    grid-column: 2;
    grid-row: 2;
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;

    background-color: white; 
    
        
    border-radius: 8px;  
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.164);  
}
#input{
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 5px;

}
#nun{
    height: 1em;
    margin: 8px;
}
#botao{
    height: 1.5em;
    
}
#tabuada{
    margin: 8px;
    
    line-height: 1.5em;
    background-color:  rgb(59, 158, 245);
    padding: 10px;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: white;
    
    font-size: larger;
}